/* .texto {
  float: left;
  width: 50%;
}

.img-satelite {
  float: right;
  width: 45%;
}

.terra {
  float: left;
  width: 50%;
}

.texto-terra {
  float: right;
  width: 50%;
}

.hide {
  display: none;
}

.imagem {
  width: 300px;
}

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

*/
